body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding-bottom: 60px;
}

header {
  background-color: #333;
  color: white;
  padding: 20px 0;;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  font-size: 14px;
  position: relative;
  bottom: 0;
  width: 100%;
}